.nav{
    display: flex;
    justify-content: space-between;
}

.nav h1 a {color:#4caf50;text-decoration: none;}
.nav h1{color:#4caf50;margin:0;padding-top:12px;}

.nav ul{display: inline-flex;list-style-type: none;margin:0;padding: 0;}

.nav ul li{padding-left: 15px;padding-top: 15px;}

.nav ul li a{text-decoration: none;color:#4caf50;cursor: pointer;}

.nav .nav-search{margin-top: 5px;flex:1;display: flex;margin-left: 5%;margin-right:5%;}

.nav .nav-search button{color:#4caf50;border:1px solid #4caf50;height: 39px;border-left: 0px;}

.nav .nav-search input{flex: 1;color:#4caf50;border-color:#4caf50;height: 35px;border-right: 0px;}

.suggested-result{
    position: absolute;
    display: list-item!important;
    z-index: 10;
    background-color: #fff;
    width:300px;
    top:40px;
    border: 1px solid #ddd;
}
.suggested-result li{
    border:1px solid #fff;
    padding:5px;
}
.suggested-result li a{
    cursor: pointer;
    color:blueviolet;
}