.user-auth h1{
    margin-top: 50px;
    margin-bottom: 80px;
    color:blue;
    text-align: center;
}
.user-auth{
    margin-bottom: 50px;
}
.invalid-input{
    color:red;
    font-size: 12px;
    margin-top: -20px;
}
button:disabled{
    cursor: not-allowed;
}